.row-spacing{
    margin-bottom:50px;
}

.metric-text{
    /* margin-top: 20px; */
    padding-top: 40px;
}

.text-left{
    color: blanchedalmond;
}


body{
    /*background-color: #073642;*/
    background-image: url(/static/images/wallofrisk.jpg);
}